body {
  background: #e5e5e5;
}
.list {
  list-style: none;
}
/* Колір навігації  #212121*/

/*Колір наведення #2196F3*/

/* тел мейл основний текст параграфа #757575*/

/* заголовки #212121*/

/* білий #FFFFFF*/

/* фон колір героя і футера #2F303A*/
/*фон секції чим ми займаємось   #E5E5E5*/

/* фон секції чим ми займаємось #F5F4FA*/
.logo {
  color: #2196f3;
  color: #000000;
}
/* навігація в хедері*/
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/*.hero-title,*/
/* секції h2*/
.section-title {
  color: #212121;
}
